*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/core/build
/data/build
/domain/build
/presentation/build
/keystore/*.keystore
google-services.json
*.apk
*.aab
*.jks
.kotlin/
